h1 {
  font-family: "Secular One", sans-serif;
  color: lightcoral;
  text-align: center;
}

.input {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
}
.start {
  margin-top: 10px;
  width: 100px;
}

/* inside style.css */
.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}
